<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/header.ejs') %>
    <body>
     <%- include ('partials/navbar.ejs') %>
      <div class="wrapper main_container" >
        <div class="item">
          Welcome Mr./Miss <%= user.username%>  You Have Logged In Successfully !
        </div>
        <div class="item" style="position: absolute;margin-left: 17%;margin-top: 6%;">
            <table border="1" align="center" >
        <tr>
            <th>id</th>
            <th>email</th>
            <th>name</th>
            <!-- <th>password</th> -->
            <th>Date with Time </th>
            <th>messages </th>
        </tr>
        <%if (user.length >0){ %>
            <% user.forEach(function(user){ %>
        <tr>
            <th><%= user._id %></th>
            <th><%= user.email %></th>
            <th><%= user.username %></th>
            <!-- <th><%= user.password %></th> -->
            <th><%= user.data %></th>
            <th><%= user.messages %></th>
        </tr>
        <% }) %>
        <% } %>
    </table>
    </div>
</body>
</html>